#spoiler-settings {

  h1{
    margin-bottom: 20px;
  }
  .app-title {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 1em;
  }

  .ui.right.floated.menu{
    padding-top: 0px;
  }
  .ui.compact.vertical.menu{
    padding-top: 0px;
  }

  .wps-form-settings{
    font-size: 16px!important;
    label{
      font-size: 16px!important;
      margin-bottom: 10px!important;
    }
    label.wps-label{
      margin-bottom: 10px!important;
      display: block;
      font-weight: 700;
    }
  }

} 

// Modal BG
.ui.dimmer{
  z-index: 99999!important;
}
.form-actions{
  justify-content: flex-end;
}

.notice, div.error, div.updated{
  border-left-color: transparent;
  padding: 0px;
  border: 0px;
  box-shadow: none;
}